{% extends 'adminBase.html.twig' %}

{% block title %}News Index{% endblock %}

{% block body %} 

    <h4>News List</h4><br>
    
    {% for news in news %}
        <label>Name:</label> {{ news.name }}<br>
        <label>Description:</label> {{ news.description }}<br>
        <label>Date/Time:</label> {% if news.dateTime %}{{ news.dateTime|date('m-d-y h:ia') }}{% endif %}<br>
        <label>Photo:</label><br>
        <div>
            <a href="{{ path('news_edit', { 'id': news.id }) }}">Edit</a>
        </div><br>
    {% endfor %}
        <div>
            <ul>
                <li>
                    <a href="{{ path('news_new') }}">Create New Entry</a>
                </li>
            </ul>
        </div>
{% endblock %}
