{% extends 'adminBase.html.twig' %}

{% block title %}News Show{% endblock %}

{% block body %}

    <h1>News</h1><br>
    
    <label>ID: </label> {{ news.id }}<br>
    <label>Name:</label> {{ news.name }}<br>
    <label>Description:</label> {{ news.description }}<br>
    <label>Date/Time:</label> {% if news.dateTime %}{{ news.dateTime|date('m-d-y H:i') }}{% endif %}<br>
    <label>Photo:</label><br>

    <ul>
        
        <li>
            <a href="{{ path('news_edit', { 'id': news.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('news_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
