{% extends 'adminBase.html.twig' %}

{% block title %}PoI Type Show{% endblock %}

{% block body %}
    <h1>Point of Interest Type</h1><br>
    
    <label>ID: </label> {{ pOI_TYPE.id }}<br>
    <label>Entrance:</label> {{ pOI_TYPE.type }}<br>

    <ul>
        <li>
            <a href="{{ path('admin_poi_type_edit', { 'id': pOI_TYPE.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('admin_poi_type_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
