{% extends 'adminBase.html.twig' %}

{% block title %}Trail Index{% endblock %}

{% block body %} 
    <h1>Trails List</h1><br>


    {% for trail in trails %}
        <label>ID: </label> {{ trail.id }}<br>
        <label>Name:</label> {{ trail.name }}<br>
        <label>Length:</label> {{ trail.length }}<br>
        <label>Type:</label> {{ trail.type }}<br>
        <label>Surface Type:</label> {{ trail.surfaceType }}<br>
        <label>Description:</label> {{ trail.description }}<br>
        <label>Photo:</label> {{ trail.photo1 }}<br>
        <div>
            <a href="{{ path('admin_trail_edit', { 'id': trail.id }) }}">Edit</a>
        </div><br>
    {% endfor %}
    
    
    
     <div>
         <ul>
            <li>
                <a href="{{ path('admin_trail_new') }}">Create New Entry</a>
            </li>
        </ul>
    </div>
{% endblock %}
