{% extends 'adminBase.html.twig' %}

{% block title %}Trail Show{% endblock %}

{% block body %}

    <h4>Trail</h4><br>
    
    <label>ID: </label> {{ trail.id }}<br>
    <label>Name:</label> {{ trail.name }}<br>
    <label>Length:</label> {{ trail.length }}<br>
    <label>Type:</label> {{ trail.type }}<br>
    <label>Surface Type:</label> {{ trail.surfaceType }}<br>
    <label>Description:</label> {{ trail.description }}<br>
    <label>Photo:</label> {{ trail.photo1 }}<br>

    <ul>
        <li>
            <a href="{{ path('admin_trail_edit', { 'id': trail.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('admin_trail_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
