<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
            <link rel="stylesheet" href="{{ asset('css/animations.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
            
            
        {% endblock %}
        
        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>    
            <script src="//code.jquery.com/jquery-latest.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script type="text/javascript" src="{{ asset('js/responsiveslides.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/main2.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/css3-animate-it.js') }}"></script>
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
