<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
            <link rel="stylesheet" href="{{ asset('css/animations.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
            
            
        {% endblock %}
        
        
        
        
        {% block javascripts %}

            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>    

            
            <script type="text/javascript" src="{{ asset('js/responsiveslides.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/main2.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/css3-animate-it.js') }}"></script>
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    <body>
        {% block header %}
        <header>
    <div class="top">
      <div class="logo_area">
        <a href="{{ path('index') }}"><img src="{{ asset('images/tg_logo.png') }}" class="logo"></a>
        <a href="{{ path('index') }}"><img src="{{ asset('images/tg_logo2.png') }}" class="logo2"></a>
      </div>
      <div class="media">
        <div class="detail_sum"></div> 
        <div class="temp1"><h4 class="temp_num"></h4></div>
        <div class="temp2"><h5 class="detail_word"></h5></div>
        <div class="rhsc"><h4>Rock Hill, South Carolina</h4></div>
      </div>
    </div>

    <nav>
      <div href="#" class="hamburger">
        <div class="ham-lines">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="ham-menu"><h4>MENU</h4></div>
      </div>
      <ul class="clearfix menu">
        <li><a {% if currentPageHome is defined %}class="current"{% endif %} href="{{ path('index') }}">Home</a></li>
        <li><a {% if currentPageTrails is defined %}class="current"{% endif %} href="{{ path('trails') }}">Trails & Greenways</a></li>
        <li><a {% if currentPageEvents is defined %}class="current"{% endif %}  href="{{ path('events') }}">Events</a></li>
        <li><a  {% if currentPageAbout is defined %}class="current"{% endif %} href="{{ path('about') }}">About</a></li>
        <li><a  {% if currentPageInvolved is defined %}class="current"{% endif %} href="{{ path('involved') }}">Get Involved</a></li>
      </ul>
    </nav>
  </header>
  
  

    {{ render(controller('CRHWebBundle:Default:slideshowHeader')) }}

  
  
        {% endblock %}
        
        
        
        
        
      <div class="window">
          <div class="container">
            

                    
                    {% block body %}
                    {% endblock %}
        
                  </div><!--CONTAINER-->

           <!--CONTACTS FULL WIDTH-->
          <footer>
            <div class="contact1">
                <h3>City of Rock Hill</h3>
                <h4>cityofrockhill.com</h4>
                <h4>803-325-2500</h4>
                <h4>City Hall • 155 Johnston Street • Rock Hill, SC  29730</h4>
            </div>
            <div class="contact2">
                <h3>Trails & Greenways</h3>
                <h4>RockHillSCTrails.org</h4>
                <h4>admin@tg.org</h4>
                <h4>The content on this site belongs to the Trails and Greenways Advisory Committee of Rock Hill.</h4>
            </div>
          </footer>


      </div> <!--WINDOW--> 

      <a href="#0" class="cd-top cd-is-visible cd-fade-out">Top</a><!--BACK TO TOP-->
        
    </body>
</html>
