{% extends 'adminBase.html.twig' %}

{% block title %}PoI Show{% endblock %}

{% block body %}
    <h1>Point of Interest</h1><br>
        
        <label>ID: </label> {{ pointsOfInterest.id }}<br>
        <label>Latitude:</label> {{ pointsOfInterest.latitude }}<br>
        <label>Longitude:</label> {{ pointsOfInterest.longitude }}<br>
        <label>Photo:</label> {{ pointsOfInterest.photo }}<br>
        <label>Trail:</label> {{ pointsOfInterest.trail }}<br>
        <label>Type:</label> {{ pointsOfInterest.type }}<br>

    <ul>
        <li>
            <a href="{{ path('admin_pointsofinterest_edit', { 'id': pointsOfInterest.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('admin_pointsofinterest_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
