

            <!-- Trigger the modal with a button -->
            <!-- Modal -->
            <div class="modal fade" id="comment1" role="dialog">
                <div class="modal-dialog modal-md">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Submit a Comment</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal_material"><br>
                                
                                
    {{ form_start(commentForm.form) }}


        Trail: {{ form_widget(commentForm.form.trail) }}
        <div class='error'>
        {{ form_errors(commentForm.form.trail) }}
        </div>
        
        
        <br><br>
        
        {{ form_widget(commentForm.form.name, {'attr': {'placeholder':'Enter Your Name'} }) }}
        
        <div class='error'>
        {{ form_errors(commentForm.form.name) }}
        </div>
        <br><br>
        
        {{ form_widget(commentForm.form.email, {'attr': {'placeholder':'Enter Your Email'} }) }}
        
        <div class='error'>
            {{ form_errors(commentForm.form.email) }}
        </div>
        <br><br>

        {{ form_widget(commentForm.form.message, {'attr': {'placeholder':'Enter Your Message'} }) }}
        
        <div class='error'>
        {{ form_errors(commentForm.form.message) }}
        </div>
        <br><br>
        
        Optional Image: {{ form_widget(commentForm.form.imageFile) }}
        
        <div class='error'>
        {{ form_errors(commentForm.form.imageFile) }}
        </div>
        <br><br>
        
        <input type="submit" value="Submit Comment" data-target="#trailModal" />
        
    {{ form_end(commentForm.form) }}
    
    
    {# Handle Showing Errors #}
    
    {% if commentForm.status == 'error' %}
        <script type="text/javascript">
            $(document).ready(function(){
                $('#comment1').modal();
            });
        </script>
    {% endif %}
    
    
    
    
    </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <!--END MODAL-->