<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>
    <body>

Events page!

{% if announcements  %}
    <h1>Announcements</h1>
    {% for announcement in announcements %}
        {{ announcement.message }}
    {% endfor %}
{% endif%}

<h1>Events</h1>
{% if upcomingEvents %}
   
    {% for event in upcomingEvents %}
        {{ event.name }}
        {{ event.description }}
        {% if event.eventDate %}{{ event.eventDate|date('m-d-Y g:ia') }}{% endif %}
        {% if event.location is not null %}
            {{ event.location.name }}
        {% endif %}
    {% endfor %}
{% else %}
    There are no upcoming events.
{% endif %}


<h1>Trail of the Month</h1>
{% if trailOfMonth is not null %}
    
    {{ trailOfMonth.name }}
{% else %}
    No trails of month.  Check back soon!
{% endif %}


 <h1>Wellness Tip of the Month</h1>
{% if wellnessTipOfMonth is not null %}
    {{ wellnessTipOfMonth.tip }}
{% else %}
    Drink lots of water and check back soon!
{% endif %}
</body>
</html>