{% extends 'base.html.twig' %}


{% block title %}Rock Hill: Trails & Greensways{% endblock %}
{% block body %}


              <section><!--FIRST CONTENT-->
                <div>
                  <div id="event_tg" >
                    <div id="event_tg_header">
                      <h2>Upcoming Events & Information</h2>
                    </div>
                  </div>
                    
                    <div class="event_main">
                      <section class="event_all">  
                        <div class="event_content1">
                          {% if upcomingEvents %}
                               
                            {% for event in upcomingEvents %}
                            <div class="event_content1_p">
                              <h3>{{ event.name }}</h3>
                              <p>{{ event.description }}</p>
                              {% if event.location is not null %}
                                  <p>{{ event.location.name }}</p>
                              {% endif %}
                              {% if event.eventDate %}
                                <p>{{ event.eventDate|date('m-d-Y g:ia') }}</p>
                              {% endif %}
                            </div>
                            <div class="event_image1"></div>
                            {% endfor %}
                            {% else %}
                            <div class="event_content1_p">
                                <p>There are no upcoming events.</p>
                            </div>    
                            {% endif %}
                        </div>
                      </section> 
                    </div>
                  </div>    
              </section> 


            <section><!--SECOND CONTENT-->
                <div>
                  <div id="event_tg2">
                    <div id="event_tg_header2">
                      <h2>Annoucements</h2>
                    </div>
                  </div>
                    
                    <div class="event_main" >
                      <section>  
                        <div class="event_content2">
                          
                          <div><!--DONATE LIST 1-->
                          {% if announcements  %}
                            {% for announcement in announcements %}
                                <p class="announcement1">
                                    {{ announcement.message }}
                                {% endfor %}
                            {% else %}
                            No Announcements. Check back later.
                            </p>
                        {% endif%}
                      </div>  

                        </div>
                      </section> 
                    </div>
                </div>   
              </section> 

              <section><!--THIRD CONTENT-->
                <div>
                  <div id="event_tg3">
                    <div id="event_tg_header3">
                      <h2>Trail of the Month</h2>
                    </div>
                  </div>
                    
                    <div class="event_main">
                      <section>  
                        <div class="event_content3">
                          <div id="event_image2"></div>
                            <div class="event_content3_p">
                           {% if trailOfMonth is not null %}
                              <h3>{{ trailOfMonth.name }}</h3>
                           {% else %}
                             <p>No trail of month. Check back soon!</p>
                           {% endif %}
                          </div>
                        </div>
                      </section> 
                    </div> 
                </div>    
              </section>



 




              <section><!--FOURTH CONTENT-->
                    <div id="event_tg4">
                      <div id="event_tg_header4">
                        <h2>Wellness Tip of the Month</h2>
                     </div>
                    </div>
                    
                    <div class="event_main">
                      <section>  
                        <div class="event_content4">
                          <p class="event_content4_p">
                            {% if wellnessTipOfMonth is not null %}
                              {{ wellnessTipOfMonth.tip }}
                            {% else %}
                                Drink lots of water and check back soon!
                            {% endif %}
                          </p> 
                          <div id="event_image3"></div>
                        </div>
                      </section> 
                    </div> 
              </section>  


{% endblock %}
