{% extends 'base.html.twig' %}


{% block title %}Rock Hill: Trails & Greensways{% endblock %}
{% block body %}


              <section><!--FIRST CONTENT-->
                <div  class="animated fadeInRight Slow" style="animation-name: fadeInRight;">
                  <div id="event_tg" >
                    <div id="event_tg_header">
                      <h2>Upcoming Events & Information</h2>
                    </div>
                  </div>
                    
                    <div class="event_main">
                      <section class="event_all">  
                        <div class="event_content1">
                          {% if upcomingEvents %}
                               
                            {% for event in upcomingEvents %}
                            <div class="event_content1_p">
                              <h3>{{ event.name }}</h3>
                              
                              <p>{{ event.description }}</p>
                              {% if event.location is not null %}
                                  <p>Location: {{ event.location.name }}<br>
                                  Date: {{ event.eventDate|date('M d, Y') }}<br>
                                  Time: {{ event.eventDate|date('g:ia') }}</p>
                              {% else %}
                              
                              <p>Date: {{ event.eventDate|date('M d, Y') }}<br>
                              Time: {{ event.eventDate|date('g:ia') }}</p>
                              {% endif %}
                            </div>
                            <div class="event_image1">
                              
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="event_content1_p">
                                <p>There are no upcoming events.</p>
                            </div>    
                            {% endif %}
                        </div>
                      </section> 
                    </div>
                  </div>    
              </section> 


            <section><!--SECOND CONTENT-->
                <div  class="animated fadeInLeft Slow" style="animation-name: fadeInLeft;">
                  <div id="event_tg2">
                    <div id="event_tg_header2">
                      <h2>Annoucements</h2>
                    </div>
                  </div>
                    
                    <div class="event_main" >
                      <section>  
                        <div class="event_content2">
                          
                          <div><!--DONATE LIST 1-->
                          {% if announcements  %}
                            {% for announcement in announcements %}
                                <p class="announcement1">
                                    {{ announcement.message }}
                                    <hr>
                                {% endfor %}
                            {% else %}
                            No Announcements. Check back later.
                            </p>
                        {% endif%}
                      </div>  

                        </div>
                      </section> 
                    </div>
                </div>   
              </section> 

              <section><!--THIRD CONTENT-->
                <div  class="animated fadeInUp Slow" style="animation-name: fadeInUp;">
                  <div id="event_tg3">
                    <div id="event_tg_header3">
                      <h2>Trail of the Month</h2>
                    </div>
                  </div>
                    
                    <div class="event_main">
                      <section>  
                        <div class="event_content3">
                          {% if trailOfMonth is not null %}
                            {% if trailOfMonth.photo1 is not null %}
                            <img id="event_image2" src="{{ asset(vich_uploader_asset(trailOfMonth, 'imageFile1', 'CRH\\WebBundle\\Entity\\Trail')) }}">
                              {% else %}
                                <div id="event_image2" ><img src="{{ asset('images/trail3-1.png') }}"></div>
                            {% endif %}
                            <div class="event_content3_p">
                              <h3>{{ trailOfMonth.name }}</h3>
                              <p>Length: {{ trailOfMonth.length }} miles</p>
                              <p>Type: {{ trailOfMonth.type }}</p>
                              <p>Surface Type: {{ trailOfMonth.surfaceType }}</p>
                              {% if trailOfMonth.description is not null %}
                                Description: {{ trailOfMonth.description | raw}}
                               {% else %}
                               <p>No trail of month. Check back soon!</p>
                              {% endif %}
                             {% endif %}
                          </div>
                        </div>
                      </section> 
                    </div> 
                </div>    
              </section>



 




              <section><!--FOURTH CONTENT-->
                  <div  class="animated fadeInRight Slow" style="animation-name: fadeInRight;">  
                    <div id="event_tg4">
                      <div id="event_tg_header4">
                        <h2>Wellness Tip of the Month</h2>
                     </div>
                    </div>
                    
                    <div class="event_main">
                      <section>  
                        <div class="event_content4">
                          <p class="event_content4_p">
                            {% if wellnessTipOfMonth is not null %}
                              {{ wellnessTipOfMonth.tip }}
                            {% else %}
                                Drink lots of water and check back soon!
                            {% endif %}
                          </p> 
                          <div id="event_image3"></div>
                        </div>
                      </section> 
                    </div> 
                  </div>  
              </section>  


{% endblock %}
