{% extends 'base.html.twig' %}

{% block title %}Rock Hill: Trails & Greensways{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('js/map.js') }}"></script>
  <script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyDFxHSMuCUFqDo41r4SCbWGAKHdpNKq4Ds&callback=initMap"></script>
{% endblock%}
        
{% block body %}
            
            <section>
                <!--FIRST SECTION-->

                <!--Map-->
                <div id="home_top1">

                    <div id="home_tg">
                        <div id="home_tg_header">
                            <h2>Trails & Greenways Map</h2>
                        </div>
                    </div>

                    <div id="map"></div>
                </div>


                <!--Announcements-->

                <div id="home_top2">

                    <div id="home_tg2">
                        <div id="home_tg2_header">
                            <h2>Announcements</h2>
                        </div>
                    </div>

                    <div id="home_tg2_announcements">
                        <div class="announcements">
                            {% if announcements %}
                            {% for announcement in announcements %}
                                <p class="annoucements1">{{ announcement.message }}</p>
                            <hr>
                            {% endfor %}
                            {% else %} 
                                <p class="annoucements1">There are no new announcements. Check back later</p>            
                            {% endif%}
                        </div>
                    </div>
                </div>

            </section>
            <!--END SECTION 1-->

            <section>
                <!--SECOND SECTION-->
                <div class="divide">
                    <!--Trail Over Views-->
                    <a href="{{ path('trails') }}">
                        <div id="home_mid1">

                            <div id="home_tg_mid1">
                                <div id="home_tg_mid1_header">
                                    <h2>Trail Overviews</h2>
                                </div>
                            </div>

                            <div id="home_to">
                                <div id="more_mid1">
                                    <h6>See More</h6></div>
                            </div>
                        </div>
                    </a>


                    <!--Trail of the Month-->

                    <a href="{{ path('trails') }}">
                        <div id="home_mid2">

                            <div id="home_tg_mid2">
                                <div id="home_tg_mid2_header">
                                    <h2>Trail of the Month</h2>
                                </div>
                            </div>

                            <div id="home_totm">
                                <div id="more_mid2">
                                    <h6>See More</h6></div>
                            </div>
                        </div>
                    </a>


                    <!--Upcoming Events & Information-->
                    <div id="home_mid3">

                        <a href="{{ path('events') }}">
                            <div id="home_tg_mid3">
                                <div id="home_tg_mid3_header">
                                    <h2>Upcoming Events<br>& Information.</h2>
                                </div>
                            </div>
                        </a>

                        <div id="home_events">
                            {% if upcomingEvents %}
   
                        {% for event in upcomingEvents %}
                            <h5><b>{{ event.name }}</b></h5>
                            <p>{{ event.description }}
                                {% if event.location is not null %}
                                    <br>{{ event.location.name }}
                                {% endif %}
                                {% if event.eventDate %}
                                  <br>{{ event.eventDate|date('m-d-Y g:ia') }}
                                {% endif %}
                            </p>
                        {% endfor %}
                        {% else %}
                            There are no upcoming events.
                        {% endif %}
                            <a href="{{ path('events') }}">
                                <div id="more_mid3">
                                    <h6>See More</h6></div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!--END SECTION 2-->


            <!--Upcoming about, fitness, involve-->
            <section>
                <div class="divide">
                    <div id="home_mid4">

                        <a href="{{ path('about') }}">
                            <div id="home_tg4">
                                <div id="home_tg4_header">
                                    <h2>About Trails & Greenways</h2>
                                </div>
                            </div>
                        </a>

                        <div id="home_about">
                            <p class="home_about1">The Trails and Greenways Advisory Committee is a volunteer group devoted to building a more comprehensive network of trails. Since our founding in 2003, the city’s trail network has grown from 11 miles to over 46. In 2006, we incorporated Rock Hill’s Open Space Plan, which consisted of county and regional walkability and connectivity initiatives.</p>
                            
                            <p class="home_about2">Picture Rock Hill residents of all ages and abilities staying fit, enjoying the outdoors, walking, biking, and jogging their way to work or school, learning about the natural environment and all of these activities taking place right here in Rock Hill.</p>
                            <a href="{{ path('about') }}">
                                <div id="more_mid4">
                                    <h6>See More</h6></div>
                            </a>
                        </div>
                    </div>

                    <div id="home_mid5">

                        <a href="{{ path('events') }}">
                            <div id="home_wellness">
                                <div id="home_tg5_header">
                                    <h2>Wellness Tip of<br>the Month</h2>
                                </div>
                                <div id="home_wellness_pic"></div>
                            </div>
                        </a>



                        <a href="{{ path('involved') }}">
                            <div id="home_involve">
                                <div id="home_tg6_header">
                                    <h2>Get Involved</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--Divide Ends-->
            </section>

            <section>
                <div id="home_mid6">

                    <div id="home_connect">


                        <div id="home_comments">
                            <div id="home_comments_header">
                                <h2 id="home_trail_comments">Trail Comments</h2>
                                <img src="{{ asset('images/plus.png') }}" id="home_trail_comments_plus" title="Add a Comment" class="add_comment" data-toggle="modal" data-target="#comment1">
                            </div>

                                                            
                        {% if randomComment %}
                            <div id="home_trail_topic">
                              {% if randomComment[0].trail is not null %}
                                <h2>{{ randomComment[0].trail }}</h2>
                              {% endif %}
                            </div>
                            <div id="home_user_comments">
                              {% if randomComment[0].name is not null %}
                                <h3>{{ randomComment[0].name }}</h3>
                              {% endif %}
                              <p>{{ randomComment[0].message }}</p>
                              <p>{{ randomComment[0].date|date('m-d-Y g:ia') }}</p>
                            </div>
                        {% else %}
                            <div id="home_trail_topic">
                                
                            </div>
                            <div id="home_user_comments">
                                <p>There are no comments, consider leaving one.</p>
                            </div>
                        {% endif %}

                        <!--END HOME_COMMMENTS-->
                    </div>
                    <!--END OF CONNECT ROCK HILL-->

                </div>
                <!--END OF HOME_MID6-->
            </section>










                                
                                
                                {% include ':default:commentNew.html.twig' %}
                                
{% endblock %}
