{% extends 'base.html.twig' %}

{% block title %}Rock Hill: Trails & Greenways{% endblock %}
{% block body %}
   <header class="animatedParent">
    <div class="top">
      <div class="logo_area animated bounceInUp">
        <a href="{{ path('index') }}"><img src="{{ asset('images/tg_logo.png') }}" class="logo"></a>
        <a href="{{ path('index') }}"><img src="{{ asset('images/tg_logo2.png') }}" class="logo2"></a>
      </div>
      <div class="media animated bounceInRight">
        <div class="detail_sum"></div> 
        <div class="temp1"><h4 class="temp_num"></h4></div>
        <div class="temp2"><h5 class="detail_word"></h5></div>
        <div class="rhsc"><h4>Rock Hill, South Carolina</h4></div>
      </div>
    </div>

    <nav>
      <div href="#" class="hamburger animated bounceIn">
        <div class="ham-lines">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="ham-menu"><h4>MENU</h4></div>
      </div>
      <ul class="clearfix menu">
        <li><a href="{{ path('index') }}">Home</a></li>
        <li><a href="{{ path('trails') }}">Trails & Greenways</a></li>
        <li><a href="{{ path('events') }}">Events</a></li>
        <li><a href="{{ path('about') }}">About</a></li>
        <li><a class="current" href="{{ path('involved') }}">Get Involved</a></li>
      </ul>
    </nav>
  </header>

     <!-- Slideshow -->
    <div class="callbacks_container">
      <ul class="rslides slider">
        <li>
          <img src="{{ asset('images/trail3-1.png') }}" alt="" class="large-slide">
          <img src="{{ asset('images/trail3-2.png') }}" alt="" class="small-slide">
          <img src="{{ asset('images/trail3-2.png') }}" alt="" class="medium-slide">
          <p class="caption">Emmett Scott Park</p>
        </li>
        <li>
          <img src="{{ asset('images/trail1-1.png') }}" alt="" class="large-slide">
          <img src="{{ asset('images/trail1-2.png') }}" alt="" class="small-slide">
          <img src="{{ asset('images/trail1-2.png') }}" alt="" class="medium-slide">
          <p class="caption">Cherry Park</p>
        </li>
        <li>
          <img src="{{ asset('images/trail2-1.png') }}" alt="" class="large-slide">
          <img src="{{ asset('images/trail2-2.png') }}" alt="" class="small-slide">
          <img src="{{ asset('images/trail2-2.png') }}" alt="" class="medium-slide">
          <p class="caption">Emmett Scott Park</p>
        </li>
                <li>
          <img src="{{ asset('images/trail4-1.png') }}" alt="" class="large-slide">
          <img src="{{ asset('images/trail4-2.png') }}" alt="" class="small-slide">
          <img src="{{ asset('images/trail4-2.png') }}" alt="" class="medium-slide">
          <p class="caption">Eagle Park</p>
        </li>
      </ul>
    </div>


      <div class="window donate_page">
          <div class="container">
            
             <section class="animatedParent"><!--FIRST CONTENT-->
                <div id="donate_first" class="animated fadeInUp">
                    <div id="donate_tg">
                      <div id="donate_tg_header">
                        <h2>Get Up! Get Outside! Get Involved!</h2>
                      </div>
                    </div>
                      
                      <div class="donate_main">
                        <section>  
                          <div id="donate_content1">
                            <p id="donate_content1_p">There are several ways to get involved with Rock Hill Trails and Greenways. From volunteer workdays maintaining and building trails to leading or participating in guided walks or runs as part of our “Trail for the Month” Campaign, your time, talent and passion for trails are always welcome! As we work to increase awareness and use of Rock Hill’s Trails, Greenways and Park to Park Bike Routes, there is always a need for volunteers, partnerships, in-kind donations and sometimes monetary contributions to support the many initiatives and programs offered. Please review the options below and let us know how you would like to show your support!</p>
                            <div id="donate_image1"></div>
                          </div>
                        </section> 
                      </div> 
                  </div>   
              </section> 


            <section class="animatedParent"><!--SECOND CONTENT-->
              <div id="donate_second" class="animated fadeInleft">
                  <div id="donate_tg2">
                    <div id="donate_tg_header2">
                      <h2>Be Kind!</h2>
                    </div>
                  </div>
                    
                    <div class="donate_main">
                      <section>  
                        <div id="donate_content2">
                          
                          <div id="donate_list1"><!--DONATE LIST 1-->
                              <p> In-kind donations of materials, services and equipment can have a big impact in reducing the cost of trail projects and outreach programs. In most cases, in kind donations can be quantified as monetary and are tax deductible through the Parks Foundation. Click here for examples of in kind donations.</p>

                              <button class="btn btn-md sample-items animated bounceIn" data-toggle="modal" data-target="#donate_list">Sample Items</button>
                        </div>
                      </section> 
                    </div> 
                </div>
              </section> 

              <section class="animatedParent"><!--THIRD CONTENT-->
                <div id="donate_third" class="animated fadeInRight">
                  <div id="donate_tg3" >
                    <div id="donate_tg_header3">
                      <h2>Be Heard!</h2>
                    </div>
                  </div>
                    
                    <div class="donate_main">
                      <section>  
                        <div id="donate_content3">
                          <div id="donate_image2"></div>
                          <p id="donate_content3_p"> Attend a Trails and Greenways Advisory Committee meeting to voice your opinion or experience. The Trails and Greenways Advisory Committee usually meets on the 3rd Monday of Every Month at 4:00 PM. The meetings are open to the public and if you have a concern or an idea to share, we ask that you contact us in advance so we can provide time on the agenda for you to share. Click here to learn more about the advisory committee and request to be included on the agenda.</p>
                        </div>
                      </section> 
                    </div>
               </div>  
              </section>

              <section class="animatedParent"><!--FOURTH CONTENT-->
                <div id="donate_fourth" class="animated fadeInUp">
                    <div id="donate_tg4">
                    <div id="donate_tg_header4">
                      <h2>Go Green!</h2>
                    </div>
                  </div>
                    
                    <div class="donate_main">
                      <section>  
                        <div id="donate_content4">
                          <div id="donate_image3"></div>
                          <p id="donate_content4_p">Help keep children and families engaged in nature through a variety of outreach programs and events that promote active living and foster environmental awareness. If you are interested leaving a legacy for generations to come please click here to learn more about the Nature Navigators Endowment and someone from the Parks Foundation will assist you with making a tax deductible monetary contribution.</p>
                        </div>
                      </section> 
                    </div>
               </div>  
              </section>

           </div><!--END OF Container-->



           <div class="modal fade" id="donate_list" role="dialog">
                                    <div class="modal-dialog modal-lg">
                                
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">Donations List</h4>
                                    </div>
                                    <div class="modal-body">
                                      <div class="modal_material">
                                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                              <!-- Wrapper for slides -->
                                              <div class="carousel-inner">
                                                <div class="item active">
                                                 <img class="img-responsive" src="{{ asset('images/trail4-1.png') }}" alt="...">
                                                  <div class="carousel-caption">
                                                    One Image
                                                  </div>
                                                </div>
                                                <div class="item">
                                                  <img class="img-responsive" src="{{ asset('images/trail3-1.png') }}" alt="...">
                                                  <div class="carousel-caption">
                                                    Another Image
                                                  </div>
                                                </div>
                                                 <div class="item">
                                                  <img class="img-responsive" src="{{ asset('images/trail2-1.png') }}" alt="...">
                                                  <div class="carousel-caption">
                                                    Another Image
                                                  </div>
                                                </div>
                                              </div>

                                              <!-- Controls -->
                                              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                              </a>
                                              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                              </a>
                                          </div>
                                          <br>
                                          <ul>
                                            <li>Sample item 1</li>
                                            <li>Sample item 2</li>
                                            <li>Sample item 3</li>
                                            <li>Sample item 4</li>
                                            <li>Sample item 5</li>
                                            <li>Sample item 6</li>
                                          </ul>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>

          
          <!--CONTACTS FULL WIDTH-->
          <footer class="animatedParent">
            <div class="contact1 animated bounceIn">
                <h3>City of Rock Hill</h3>
                <h4>cityofrockhill.com</h4>
                <h4>803-325-2500</h4>
                <h4>City Hall • 155 Johnston Street • Rock Hill, SC  29730</h4>
            </div>
            <div class="contact2 animated bounceIn">
                <h3>Trails & Greenways</h3>
                <h4>RockHillSCTrails.org</h4>
                <h4>admin@tg.org</h4>
                <h4>The content on this site belongs to the Trails and Greenways Advisory Committee of Rock Hill.</h4>
            </div>
          </footer>
      </div>  

  <a href="#0" class="cd-top cd-is-visible cd-fade-out">Top</a><!--BACK TO TOP-->

{% endblock %}