{% extends 'base.html.twig' %}

{% block title %}Rock Hill Trails!{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('js/map.js') }}"></script>
  <script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyDFxHSMuCUFqDo41r4SCbWGAKHdpNKq4Ds&callback=initMap"></script>
{% endblock%}

{% block body %}

            <section><!--SECTION 1-->
               
              <!--Main Map-->
                <div id="trail_main_map">
                
                  <div id="trail_tg">
                    <div id="trail_tg_header">
                      <h2>Trails & Greenways Map</h2>
                    </div>
                  </div>
                 
                  <div id="map"></div>
                </div> <!--Trail Main Map Ends-->
            </section><!--END SECTION 1-->

        {% if announcements  %}
            <section><!--SECTION 2-->
                <!--Trail Announcements-->

                <div id="trail_announcement">
                  
                    <div id="trail_tg2">
                      <div id="trail_tg2_header">
                        <h2 >Announcements</h2>
                      </div>
                    </div>
                   
                    <div id="trail_tg2_announcements">

                        {% for announcement in announcements %}
                            <p class="announcement1">{{ announcement.message }}</p>
                            <hr>
                        {% endfor %}

                    </div>
                </div><!--Trail Announcement-->
            </section><!--SECOND SECTION-->
      {% endif%}


            <section><!--THIRD SECTION-->
                <!--Trail Overviews-->
                <div id="trail_maps">
                
                      <div id="trail_tg_maps" >
                        <div id="trail_tg_maps_header">
                          <h2>Trail Overviews</h2>
                        </div>
                      </div>
                 
                 
                      <ul class="nav nav-tabs trail_tabs">
                        <li class="active"><a data-toggle="tab" href="#trailpath">Trails</a></li>
                        <li><a data-toggle="tab" href="#sidewalks">Sidewalks</a></li>
                        <li><a data-toggle="tab" href="#specialways">Special Ways</a></li>
                        <li><a data-toggle="tab" href="#blueways">Blue Ways</a></li>
                        <li><a data-toggle="tab" href="#trail_etiquette">Trail Etiquette</a></li>
                      </ul>


                      <div class="tab-content trail_tabs_content">
                          <div id="trailpath" class="tab-pane fade in active">
                            
                            <div class="trail_list1">
                               <ul>

                                 {% for trail in trails %}
                                   {% if trail.type == 'Trails' %}
                                   <li><h3 class="trail">{{ trail.name }}</h3><button type="button" class="btn btn-info btn-md mapit">Map It</button><button type="button" class="btn btn-info btn-md details" data-toggle="modal" data-target="#trailModal{{ trail.id }}">Details</button></li>
                                   {% endif %}
                                 {% endfor %}
                                
                               </ul> 
                            </div>
                              
                          </div>
                          <div id="sidewalks" class="tab-pane fade">
                             <div class="trail_list3">
                               <ul>



                                 {% for trail in trails %}
                                   {% if trail.type == 'Sidewalks' %}
                                   <li><h3 class="trail">{{ trail.name }}</h3><button type="button" class="btn btn-info btn-md mapit">Map It</button><button type="button" class="btn btn-info btn-md details" data-toggle="modal" data-target="#trailModal{{ trail.id }}">Details</button></li>
                                   {% endif %}
                                 {% endfor %}
                                


                               </ul> 
                            </div>
                          </div>
                          <div id="specialways" class="tab-pane fade">
                             <div class="trail_list4">
                               <ul>
                                
                                
                                
                                 {% for trail in trails %}
                                   {% if trail.type == 'Special Ways' %}
                                   <li><h3 class="trail">{{ trail.name }}</h3><button type="button" class="btn btn-info btn-md mapit">Map It</button><button type="button" class="btn btn-info btn-md details" data-toggle="modal" data-target="#trailModal{{ trail.id }}">Details</button></li>
                                   {% endif %}
                                 {% endfor %}
                                
                                
                               </ul> 
                            </div>
                          </div>
                          <div id="blueways" class="tab-pane fade">
                            <div class="trail_list5">
                               <ul>


                                 {% for trail in trails %}
                                   {% if trail.type == 'Blue Ways' %}
                                   <li><h3 class="trail">{{ trail.name }}</h3><button type="button" class="btn btn-info btn-md mapit">Map It</button><button type="button" class="btn btn-info btn-md details" data-toggle="modal" data-target="#trailModal{{ trail.id }}">Details</button></li>
                                   {% endif %}
                                 {% endfor %}
                                

                               </ul> 
                            </div>
                          </div>
                            <div id="trail_etiquette" class="tab-pane fade">
                            <div class="trail_list5">
                               <ul>
                                <li><h3 class="rules">Rule1</h3></li>
                                <li><h3 class="rules">Rule2</h3></li>
                                <li><h3 class="rules">Rule3</h3></li>
                                <li><h3 class="rules">Rule4</h3></li>
                                <li><h3 class="rules">Rule5</h3></li>
                               </ul> 
                            </div>
                          </div>
                      </div>

                  </div><!--End Trail Overviews-->
              </section><!--END OF THIRD SECTION-->
            
                
              <section><!--FOURTH SECTION-->
                <!--CONNECT ROCK HILL-->
                <div id="trail_connect">
                
                      <div id="trail_tg_connect">
                        <div id="trail_tg_connect_header">
                          <h2>Connect Rock Hill: Last 10 Comments </h2><div id="trail_plus"><img src="{{ asset('images/plus.png') }}" id="trail_comments_plus" title="Add a Comment" class="add_comment" data-toggle="modal" data-target="#comment1"></div>

                        </div>
                      </div>
                 
                  <div id="trail_feedback">

                        <div id="usercomments">
                          <div id="comments_one">
                            {% if last10comments %}
                            
                            {% for comment in last10comments %}
                              {%if comment.name is not null %}
                                <p><b>{{ comment.name }}</b><br>
                              {% endif%}
                              {%if comment.trail is not null %}
                                <b>{{ comment.trail }}</b><br>
                              {% endif%}
                              {{ comment.message }}</p>
                              <hr>
                            {% endfor %}
                            {% else %} 
                              <p>These are currently no comments, consider leaving one!</p>
                            {% endif%}
                          </div>
                        </div>
                  </div><!--End Trail Feeback-->
                </div><!--End Connect Rock Hill-->
              </section><!--END OF FOURTH SECTION-->


              <section><!--FIFTH SECTION-->
                <!--Monthly Trail-->
               <div id="trail_monthly">
                
                  <div id="trail_tg_monthly">
                    <div id="trail_tg_monthly_header">
                      <h2>Trail of the Month</h2>
                    </div>
                  </div>

                  
                  <div id="trail_monthly_content">
                    {% if trailOfMonth is not null %}
                    <h3>{{ trailOfMonth.name }}</h3>
                    <p>Length: {{ trailOfMonth.length }} miles</p>
                    <p>Type: {{ trailOfMonth.type }}</p>
                    <p>Male and female calories burned: {{ trailOfMonth.caloriesBurnedMale }} and 
                    {{ trailOfMonth.caloriesBurnedFemale }}</p>
                    <p>Surface Type: {{ trailOfMonth.surfaceType }}</p>
                    <p>Description: {{ trailOfMonth.description }}</p>
                    {% else %}
                        <h2>There is no current trail of the month.  Check back soon!</h2>
                    {% endif %}
                  </div>
                  <div id="trail_monthly_image"></div>

                 </div><!--End Monthly Trail-->
           </section><!--END OF FIFTH SECTION -->










         {% if wellnessTipOfMonth is not null %}

              <section><!--SIXTH SECTION-->
              <!--Wellness Tip Monthly-->
               <div id="trail_wellness">
                
                  <div id="trail_tg_wellness">
                    <div id="trail_tg_wellness_header">
                      <h2>Wellness Tip of the Month</h2>
                    </div>
                  </div>

                  <div id="trail_wellness_image">??????????????????????????????????????????????????????????????????????????????????????????????????????</div>
                  <div id="trail_wellness_content">
                    <p>{{ wellnessTipOfMonth.tip }}</p>
                  </div>

                 </div><!--END Wellness Tip Monthly--> 
               </section><!--END OF Six SECTION -->

        {% endif %}





                 
                 
                  
            <!-- Trigger the modal with a button -->         
              <!-- Modals -->
              
              {% for trail in trails %}
                  <div class="modal fade" id="trailModal{{ trail.id }}" role="dialog">
                    <div class="modal-dialog modal-lg">
                    
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">{{ trail.name }}</h4>
                        </div>
                        <div class="modal-body">
                          <div class="modal_material">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                  <!-- Wrapper for slides -->
                                  <div class="carousel-inner">
                                    
                                    {% if trail.photo1 %}
                                      <div class="item active">
                                       <img src="{{ vich_uploader_asset(trail, 'imageFile1') }}" alt="{{ trail.name }}" />
                                        <div class="carousel-caption">
                                          {{ trail.name }}
                                        </div>
                                      </div>                                    
                                    {% endif %}
                                    

                                  </div>

                                  <!-- Controls -->
                                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                  </a>
                                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                  </a>
                                  
                              </div>
                              
                              <br>
                              <p>Accessible: ????????????????????????????????????????????????????? </p>
                              <p>Distance: {{ trail.length }} miles</p>
                              <p>Material: ??????????????????????????????????????????????????????</p>
                              
                              <p>Hours of Operation: {{ trail.hoursOfOperation | raw }}</p>
                              <p>Features: ??????????????????????????????????????????????</p>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                      
                    </div>
                  </div>
          {% endfor %}











                      <!-- COMMENT FUNCTIONALITY -->          
                                
                                {% include ':default:commentNew.html.twig' %}
                      
                      <!-- END COMMENT FUNCTIONALITY -->          
                                
            <!--END MODAL-->



{% endblock %}