{% extends 'adminBase.html.twig' %}

{% block title %}Announcement Show{% endblock %}

{% block body %}
    <h1>Announcement</h1><br>

    <label>ID: </label> {{ announcement.id }}<br>
    <label>Message:</label> {{ announcement.message }}<br>
    <label>Current?:</label> {% if announcement.isCurrent %}Yes{% else %}No{% endif %}
    
    <ul>
        <li>
            <a href="{{ path('announcement_edit', { 'id': announcement.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('announcement_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
