{% extends 'adminBase.html.twig' %}

{% block body %}
    <h1>Events List</h1><br>

    
    {% for event in events %}
        <label>Name:</label> {{ event.name }}<br> 
        <label>Description:</label> {{ event.name }}<br>
        <label>Date:</label>{% if event.eventDate %}{{ event.eventDate|date('m-d-y H:i') }}{% endif %}<br>
        <div>
            <a href="{{ path('admin_event_edit', { 'id': event.id }) }}">Edit</a>
        </div><br>
    {% endfor %}
    <div><br>
        <ul>
            <li>
                <a href="{{ path('admin_event_new') }}">Create New Entry</a>
            </li>
        </ul>
    </div>
{% endblock %}
