{% extends 'base.html.twig' %}

{% block body %}
    <h1>Event list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Eventdate</th>
                <th>Bannerphoto</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('admin_event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
                <td>{% if event.eventDate %}{{ event.eventDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ event.bannerPhoto }}</td>
                <td>{{ event.photo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_event_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_event_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_event_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
