{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('announcement_index') }}">Announcement</a> | 
    <a href="{{ path('admin_comment_index') }}">Comments</a> | 
    <a href="{{ path('admin_event_index') }}">Events</a> | 
    <a href="{{ path('admin_wellnesstip_index') }}">Wellness Tips</a> | 
    <a href="{{ path('location_index') }}">Locations</a> | 
    <a href="{{ path('news_index') }}">News</a> | 
    <a href="{{ path('admin_poi_type_index') }}">POI Types</a> | 
    <a href="{{ path('admin_trail_index') }}">Trails</a> | 
    <a href="{{ path('admin_pointsofinterest_index') }}">Points Of Interest</a>
    
    <h1>Events List</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
                <td>{% if event.eventDate %}{{ event.eventDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <div>
                        <a href="{{ path('admin_event_edit', { 'id': event.id }) }}">Edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div><br>
        <ul>
            <li>
                <a href="{{ path('admin_event_new') }}">Create New Entry</a>
            </li>
        </ul>
    </div>
{% endblock %}
