{% extends 'adminBase.html.twig' %}

{% block title %}Event Show{% endblock %}

{% block body %}
    <h1>Event</h1><br>
    
    <label>ID: </label> {{ event.id }}<br>
    <label>Name: </label> {{ event.name }}<br>
    <label>Description: </label> {{ event.description }}<br>
    <label>Date: </label>{% if event.eventDate %} {{ event.eventDate|date('m-d-y H:i') }}{% endif %}<br>

    <ul>
        <li>
            <a href="{{ path('admin_event_edit', { 'id': event.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('admin_event_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
