{% extends 'adminBase.html.twig' %}

{% block title %}Comment Index{% endblock %}

{% block body %}

    <h4>Pending Comments</h4><br>
        
    {% for comment in pendingComments %}
        <label>Name:</label> {{ comment.name }}<br>
        <label>Message:</label> {{ comment.message }}<br>
        {% if comment.photo %}<label>Image:</label><img src="{{ asset(vich_uploader_asset(comment, 'imageFile')) }}" /><br>{% endif %}
        <label>Date:</label> {% if comment.date %}{{ comment.date|date('m-d-y h:ia') }}{% endif %}<br>
        <label>Trail:</label> {{ comment.trail }}<br>
        <label>Email:</label> {{ comment.email }}<br>
        <label>Approved?:</label> {% if comment.isApproved %}Yes{% else %}No{% endif %}
        <div>
            <a href="{{ path('admin_comment_edit', { 'id': comment.id }) }}">Edit</a>
        </div><br>
    {% endfor %}<br>
    
    <h4>Comments List</h4><br>
    
    {% for comment in comments %}
        {% if comment.isApproved == 1 %}
            <label>Name:</label> {{ comment.name }}<br>
            <label>Message:</label> {{ comment.message }}<br>
            {% if comment.photo %}<label>Image:</label> <img src="{{ asset(vich_uploader_asset(comment, 'imageFile')) }}" /><br>{% endif %}
            <label>Date:</label> {% if comment.date %}{{ comment.date|date('m-d-y H:ia') }}{% endif %}<br>
            <label>Trail:</label> {{ comment.trail }}<br>
            <label>Email:</label> {{ comment.email }}<br>
            <label>Approved?:</label> {% if comment.isApproved %}Yes{% else %}No{% endif %}
        <div>
            <a href="{{ path('admin_comment_edit', { 'id': comment.id }) }}">Edit</a>
        </div><br>
        {% endif %}
    {% endfor %}

{% endblock %}
