{% extends 'adminBase.html.twig' %}

{% block body %}

    <h1>Pending Comments</h1><br>
        
    {% for comment in pendingComments %}
        <label>Name:</label> {{ comment.name }}<br>
        <label>Message:</label> {{ comment.message }}<br>
        <label>Image:</label> {{ comment.image }}<br>
        <label>Date:</label> {% if comment.date %}{{ comment.date|date('m-d-y H:i') }}{% endif %}<br>
        <label>Trail:</label> {{ comment.trail }}<br>
        <label>Email:</label> {{ comment.email }}<br>
        <label>Approved?:</label> {% if comment.isApproved %}Yes{% else %}No{% endif %}
        <div>
            <a href="{{ path('admin_comment_edit', { 'id': comment.id }) }}">Edit</a>
        </div><br>
    {% endfor %}
    
    <h1>Comments List</h1><br>
    
    {% for comment in comments %}
        {% if comment.isApproved == 1 %}
            <label>Name:</label> {{ comment.name }}<br>
            <label>Message:</label> {{ comment.message }}<br>
            <label>Image:</label> {{ comment.image }}<br>
            <label>Date:</label> {% if comment.date %}{{ comment.date|date('m-d-y H:i') }}{% endif %}<br>
            <label>Trail:</label> {{ comment.trail }}<br>
            <label>Email:</label> {{ comment.email }}<br>
            <label>Approved?:</label> {% if comment.isApproved %}Yes{% else %}No{% endif %}
        {% endif %}
        <div>
            <a href="{{ path('admin_comment_edit', { 'id': comment.id }) }}">Edit</a>
        </div><br>
    {% endfor %}

{% endblock %}
