{% extends 'adminBase.html.twig' %}

{% block title %}Route Point Index{% endblock %}

{% block body %}

    <h4>RoutePoint</h4>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ routePoint.id }}</td>
            </tr>
            <tr>
                <th>Startlat</th>
                <td>{{ routePoint.startLat }}</td>
            </tr>
            <tr>
                <th>Startlng</th>
                <td>{{ routePoint.startLng }}</td>
            </tr>
            <tr>
                <th>Endlat</th>
                <td>{{ routePoint.endLat }}</td>
            </tr>
            <tr>
                <th>Endlng</th>
                <td>{{ routePoint.endLng }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_routepoint_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_routepoint_edit', { 'id': routePoint.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
