{% extends 'adminBase.html.twig' %}

{% block title %}Wellness Tip Show{% endblock %}

{% block body %}
    <h1>Wellness Tip</h1><br>
    
    <label>ID: </label> {{ wellnessTip.id }}<br>
    <label>Tip:</label> {{ wellnessTip.tip }}<br>

    <ul>
        <li>
            <a href="{{ path('admin_wellnesstip_edit', { 'id': wellnessTip.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('admin_wellnesstip_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
